<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="src/style/default.css">
    <script type="text/javascript" src="http:////code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://www.bitstorm.org/jquery/shadow-animation/jquery.animate-shadow-min.js"></script>
    <script type="text/javascript" src="./src/js/script.js"></script>
  </head>
  <body>
    
  