<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style/default.css">
    <style type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></style>
  </head>
  <body>
    
  