{{> header}}
<div class="container">
  <div class="col-xs-12 col-md-1"></div>
  <div class="col-xs-12 col-md-10">
    <div class="col-xs-12 col-sm-12 logo-container">
      <img src="./src/img/logo_small.png" alt="Salzburg AG Logo" class="pull-right">
    </div>
    <div class="row header-image">
      <div class="col-xs-6 col-md-6">
        <h1 class="main">Die Baustellen der Salzburg AG</h1>
        <p class="main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor.</p>
      </div>
      <div class="col-xs-6 col-md-6">
        <img class="img-responsive pull-right" src="./src/img/dog.png" alt="Hund buddelt Sand">
      </div>
    </div>
    <div class="row legend">
      <div class="col-xs-6 col-md-6">
        <div class="right-wrapper">
        <img src="./src/img/icon1.png" alt="Leitkegel"> <h3 class="legend">Baustelle</h3>
        </div>
      </div>
      <div class="col-xs-6 col-md-6">
        <img src="./src/img/icon2.png" alt="Bauarbeiter"> <h3 class="legend">Sonstiges</h3>
      </div>
    </div>
    {{# entries}}
      <div class="row entry">{{> entry}}</div>
    {{/ entries}}
  

{{> footer}}