@font-face
  font-family: 'Frutiger LT Std Bold'
  src: url('src/fonts/FrutigerLTStd-Bold.otf') type('opentype')

@font-face
  font-family: 'Frutiger LT Std Light'
  src: url('src/fonts/FrutigerLTStd-Light.otf') type('opentype')

@font-face
  font-family: 'Frutiger LT Std Roman'
  src: url('src/fonts/FrutigerLTStd-Roman.otf') type('opentype')

$bold: 'Frutiger LT Std Bold', sans-serif
$light: 'Frutiger LT Std Light', sans-serif
$roman: 'Frutiger LT Std Roman', sans-serif

$dark-grey: #454545
$light-grey:  #868686

$light-red: #fe0606
$dark-red: #cd0606


body
  font-family: $light
  font-size: 10pt
  color: $dark-grey

h1
  font-family: $bold
  font-weight: bold
  font-size: 28pt
  text-transform: uppercase

h2
  @extend h1
  font-size: 24pt

h3
  @extend h2
  font-size: 14pt
    
h3.entry
  @extend h3
  margin-top: 0px
  
h3.legend
  @extend h3
  padding: 0px 10px
  float: left
  display: inline-block
  vertical-align: middle

h4
  @extend h3
  font-size: 14pt
  text-transform: none
    
h4.entry
  @extend h4
  font-weight: normal  

.locked
  color: $light-grey
  
p
  
  .main
    font-weight: bold
      
.footer-nav
  font-size: 8pt
    
  a
    @extend body
    font-size: 8pt
      
  a:hover
    color: $dark-red
    text-decoration: none

  a:visited
    @extend body
    font-size: 8pt
  
